<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="./dist/app.js"></script>
    <script src="./dist/vendor.js"></script>
    <link rel="stylesheet" href="./dist/vendor.css">
    <link rel="stylesheet" href="./dist/app.css">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
    <title>Soundboard</title>
  </head>
  <body>
    <header class="settings-header bg-primary">
      <form class="output-selection-form bg-primary">
        <span>Output Location:</span>
        <label class="checkbox-inline">
          <input type="radio" name="output-selection" value="remote" class="output-selection" checked="checked" />
          Remote
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="output-selection" value="local" class="output-selection" />
          Local
        </label>
      </form>
    </header>
    <div class="conatiner-fluid top-container">
        <% @sounds.each_slice(4) do |batch| %>
          <div class="row">
            <% batch.each do |sound| %>
              <button class="btn btn-danger btn-lg col-xs-6 col-md-3 play-btn"><%= sound %></button>
            <% end %>
          </div>
        <% end %>
    </div>
    <div class="conatiner-fluid settings-container">
      <div class="row">
        <form class="upload-form settings-section col-md-12" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label>
              File for Upload
              <input type="file" name="file" class="form-control"></input>
            </label>
          </div>
          <button type="submit" class="btn btn-default upload-btn">Upload</button>
        </form>
      </div>
      <div class="row">
        <div class="settings-section update-server-form col-md-12">
          <a class="btn btn-default btn-lg update-btn" href="#" role="button">Update Server</a>
        </div>
      </div>
      <audio id="sound-player" controls>
        <source type="audio/mpeg">
      </audio>
    </div>
  </body>
</html>
