<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
      a {
        cursor: hand;
        color: blue;
        text-decoration: underline;
      }
    </style>
    <title>Soundboard</title>
  </head>
  <body>
    <div class="container-fluid">
      <% @sounds.each_slice(4) do |batch| %>
        <div>
        <% batch.each do |sound| %>
          <button class="btn btn-danger btn-lg col-md-3" onclick="playSound(this)"><%= sound %></button>
        <% end %>
        </div>
      <% end %>
    </div>
    <form action="upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>
          File for Upload
          <input type="file" name="file" class="form-control"></input>
        </label>
      </div>
      <button type="submit" class="btn btn-default">Upload</button>
    </form>

    <button class="btn btn-lg col-md-3" onclick="updateServer()">Update Server</button>

    <script type="application/javascript">
      function playSound(item) {
        $.ajax({
          url: "./play",
          contentType: "application/json",
          method: "POST",
          data: JSON.stringify({ file: item.innerText })
        });
      }

      function updateServer() {
        $.ajax({
          url: "./update",
          contentType: "application/json",
          method: "POST",
          data: JSON.stringify({ update: true })
        });
      }
    </script>
  </body>
</html>
