<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <style type="text/css">
      a {
        cursor: hand;
        color: blue;
        text-decoration: underline;
      }
    </style>
    <title>Soundboard</title>
  </head>
  <body>
    <% @sounds.each do |sound| %>
      <div><input type="button" onclick="playSound(this)" value="<%= sound %>" /></div>
    <% end %>
    <script type="application/javascript">
      function playSound(item) {
        $.ajax({
          url: "./play",
          contentType: "application/json",
          method: "POST",
          data: JSON.stringify({ file: item.text })
        });
      }
    </script>
  </body>
</html>
