<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="./dist/app.js"></script>
    <script src="./dist/vendor.js"></script>
    <link rel="stylesheet" href="./dist/vendor.css">
    <link rel="stylesheet" href="./dist/app.css">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
    <title>Soundboard</title>
  </head>
  <body>
    <div class="col-md-3 settings-container">
      <form class="output-selection-form settings-section">
        <h2>Output Location</h2>
        <div class="radio">
          <label>
            <input type="radio" name="output-selection" value="remote" class="output-selection" checked="checked" />
            Remote
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="output-selection" value="local" class="output-selection" />
            Local
          </label>
        </div>
      </form>
      <form class="upload-form settings-section" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>
            File for Upload
            <input type="file" name="file" class="form-control"></input>
          </label>
        </div>
        <button type="submit" class="btn btn-default upload-btn">Upload</button>
      </form>
      <div class="settings-section update-server-form">
        <button class="btn btn-lg update-btn">Update Server</button>
      </div>
      <audio id="sound-player" controls>
        <source type="audio/mpeg">
      </audio>
    </div>
    <div class="col-md-9">
      <% @sounds.each_slice(4) do |batch| %>
        <div>
        <% batch.each do |sound| %>
          <button class="btn btn-danger btn-lg col-md-3 play-btn"><%= sound %></button>
        <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
